.card {    
    border-radius: var(--border-radius);
    background-color: var(--color-header);
    box-shadow: 0 5px 5px -5px black;
    transition: all 200ms ease-in-out;
    height: min-content;
    position: relative;

    & .card__image {
        border-radius: var(--border-radius);
        width: 100%;
        aspect-ratio: 16/9;

        object-fit: cover;
        object-position: top;
    }
    
    & .card__content {
        padding: 1rem;
    }
    
    & .card__title {
        color: var(--color-title);
        font-size: var(--font-size-lg);
    }

    & .card__subtitle {
        color: var(--color-body);
        font-size: var(--font-size-sm);

        margin-bottom: var(--spacing-sm);
    }
    
    & .card__link {

        &::before {
            content: '';
            position: absolute;
            inset: 0;
        }
    }

    & .card__types {
        margin-top: var(--spacing-lg);
        display: flex;
        gap: var(--spacing-sm);
        justify-content: center;
    }

    & .card__type {
        background-color: var(--color-primary-200);
        color: var(--color-title-trans);
        padding: var(--spacing-xxs) var(--spacing-xs);
        border-radius: var(--border-radius);
        font-size: var(--font-size-sm);
    }


}


.card__description {
    color: var(--color-body);
    display: none;
}
.card--project {
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 3px 8px -3px black;

        .card__link {
            color: var(--color-primary-100);
            display: block;
            &::after {
                background-color: var(--color-primary-100);;
            }
        }
        
    }
}

@media screen and (max-width: 50rem) {
    .card--section {
        display: flex;

        & .card__description {
            display: block !important;
        }

        & .card__image {
            width: 50%;
        }
    }
}

@for $i from 1 to 5 {
    .card:nth-child($i) {
      &:after {
        content: "$i";
        color: var(--color-title-trans);
        background-color: var(--color-header-trans);
        line-height:normal;
        padding: var(--spacing-xs) var(--spacing-sm);
        border-radius: 50%;
        position: absolute;
        font-size: var(--font-size-lg);
        top: var(--spacing-sm);
        left: var(--spacing-sm);
        font-weight: var(--font-weight-bold);
      }
    }
  }