:root {

    /* Primitive variables */
    --xxs: 0.25rem;
    --xs: 0.5rem;
    --s: 1rem;
    --m: 1.25rem;
    --ml: 2rem;
    --l: 2.5rem;
    --xl: 4rem;
    --xxl: 8rem;

    /* Spacing */
    --spacing-xxs: var(--xxs);
    --spacing-xs: var(--xs);
    --spacing-sm: var(--s);
    --spacing-md: var(--m);
    --spacing-lg: var(--l);
    --spacing-xl: var(--xl);
    --spacing-xxl: var(--xxl);
  
    /* Font Sizes */
    --font-size-sm: var(--s);
    --font-size-md: var(--m);
    --font-size-lg: var(--ml);
    --font-size-xl: var(--xl);

    /* Font Weights*/
    --font-weight-regular: 400;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /*Other*/
    --border-radius: var(--xxs);
    --header-height: 6rem;
    --icon-size: var(--m);
}