.contact-form {
    width: 100%;
    gap: var(--spacing-sm);

    & .contact-form__row {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-sm);

        @media screen and (max-width: 50rem) {
            flex-direction: column;
        }
    }
    
    & .contact-form__field {
        display: flex;
        flex-direction: column;
        color: var(--color-title);
        font-size: var(--font-size-md);
        width: 100%;
    
        &:has(.contact-form__input[required]) .contact-form__label::after {
            content: " *";
            color: rgb(183, 61, 61);
        }
    }
    
    & .contact-form__field--checkbox {
        flex-direction: row;
        gap: var(--spacing-xs);
    }
    
    & .contact-form__input {
        background-color: transparent;
        border: 2px solid var(--color-primary-100) ;
        
        border-radius: var(--border-radius);
        color: var(--color-title);
        padding: var(--spacing-sm);
    }
    
    & .contact-form__button {
        background-color: transparent;
        border: none;
        padding: 0;
        color: var(--color-primary-100);
        cursor: pointer;
    
        &:hover {
            color: var(--color-primary-200);
        }
    }
    
    @media screen and (max-width: 78rem) {
        width: 80%;
        gap: var(--spacing-sm);
    }
}

